@import '../../node_modules/bullet-flash/src/main';

.tablist {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    margin: 4px 8px;
    color: $color-secondary;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.button-row {
  padding: 4px 0;

  button {
    margin: 0 4px;
  }
}

.button-danger {
  
}

.textarea-error {
  color: #d50000;
  background-color: rgba(213, 0, 0, 0.12);
  border-color: #d50000;

  h6 {
    color: #d50000;
  }
}

.request-status {
  color: #66BB6A;
  background-color: rgba(102,187,106, 0.12);
  border-color: #66BB6A;
}
