@import '../../node_modules/bullet-flash/src/main';

.tablist {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    margin: 4px 8px;
    color: $color-secondary;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
