$color-danger: #d50000;
$color-success: #66BB6A;

.tablist {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    margin: 4px 8px;
    color: #006064;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.button-row {
  padding: 4px 0;

  button {
    margin: 0 4px;
  }
}

.button-danger {
  background-color: $color-danger;
  border: 2px solid $color-danger;

  &:hover {
    border: 2px solid $color-danger;
    color: $color-danger;
  }
}

.textarea-error {
  color: $color-danger;
  background-color: rgba($color-danger, 0.12);
  border-color: $color-danger;

  h6 {
    color: $color-danger;
  }
}

.request-status {
  color: $color-success;
  background-color: rgba($color-success, 0.12);
  border-color: $color-success;
}
